.st0{fill:#F3E3BB;}
.st1{fill:#161616;}
.st2{fill:#141414;}
.st3{fill:#D83130;}
.st4{fill:#070706;}
.st5{fill:#DC5034;}
.st6{fill:#F3E5BE;}
.st7{fill:#FFFFFF;}
.st8{fill:#121212;}
.st9{fill:#E8B42F;}
.st10{fill:#080808;}
.st11{display:none;}
.st12{display:inline;}
.st13{display:inline;fill:#F3E5BE;}
.st14{display:inline;fill:#161616;}
.st15{display:inline;fill:#DC5034;}
.st16{fill:#DC4D36;}